<div class="container">
  <header>
    <strong>
      ENTERSOL
    </strong>
    <nav>
      <ul>
        <li>
          <fa-icon [icon]="icons.faWindowMinimize" (click)="minimizeWindow()"></fa-icon>
        </li>
        <li>
          <fa-icon [icon]="icons.faTimes" (click)="minimizeWindow()"></fa-icon>
        </li>
      </ul>
    </nav>
  </header>
  <!-- <input type="text" placeholder="Channel Username" (keyup.enter)="channel($event.target.value)"> -->
  <particles [style]="style" [width]="width" [height]="height" [params]="params">  </particles>
    <main>
      <ng-container>
        <figure>
          <img src="https://electronjs.org/images/web-tech.svg" alt="">
          <span>
            BACKLOG
          </span>
        </figure>
      </ng-container>
      <ng-container>
        <figure>
          <img src="https://electronjs.org/images/web-tech.svg" alt="">
          <span>
            CE
          </span>
        </figure>
      </ng-container>
      <ng-container>
        <figure>
          <img src="https://electronjs.org/images/web-tech.svg" alt="">
          <span>
            EFAC
          </span>
        </figure>
      </ng-container>
      <ng-container>
        <figure>
          <img src="https://electronjs.org/images/web-tech.svg" alt="">
          <span>
            KARDEX
          </span>
        </figure>
      </ng-container>
      <ng-container>
          <figure>
            <img src="https://electronjs.org/images/web-tech.svg" alt="">
            <span>
              CE
            </span>
          </figure>
        </ng-container>
    </main>

</div>